<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{ object.first_name }}
    {{ object.last_name }}
    {{ object.doc }}
    {{ object.pub_date|date }}
    {{ now|date }}
    {{ object.reporter }}

    <h2>Vendas</h2>
    {% for venda in vendas %}
        <p> Venda id: {{ venda.id }}</p>
        <h3>Lista de produtos</h3>
        <ul>
            {% for produto in venda.produtos.all %}
            <li>{{ produto.id }} - {{ produto.descricao }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <a href="{% url 'person-update' person.pk %}">Atualizar</a>
    <a href="{% url 'person-delete' person.pk %}">Deletar</a>
</body>
</html>